body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  padding-top: 56px;
}

.modal {
  color: rgb(51,51,51);
}

.App {
  position: relative;
}

.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
}

.modal {
  display: block !important;
}

.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

p.error-message {
  color:red;
}

h3 {
  background: blue;
  color: rgb(65, 170, 32);
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: rgb(65, 170, 32);
  margin: 5px;
  line-height: 100px;
  text-align: center;
}

.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}

.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}

.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid rgb(65, 170, 32);;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: rgb(184, 37, 159);
  /* color: black; */
}
.slick-arrow:hover {
  background-color: rgb(59, 16, 16);
}

.landingpagetext {
  display: flex;
  justify-content: space-around;
}

/* .row {
  border: 1px solid lightblue
} */

i.fas.fa-plus-circle{
  font-size: 48px;
  color:lightblue;
  float: right;
}

.titleP { 
  font-size:16px; font-weight:500;
}

.bot-border {
   border-bottom:3px #f8f8f8 solid;  margin:5px 0  5px 0
}	
.picture {
  border-radius: 8px;
}

.img-thumbnail {
  width: 100px;
}

.postbuttons {
  float:right;
  
}

.text-center{
  align-self: center;
}

.postrow {
  display: flex;
  flex-direction: row;
}

.posttitle{
  padding-top: 10px;
}

p {
  color: gray;
  font-size: 13px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #f5f5f5;
  text-align: center;
}
